<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>


<head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Athlete List</a>
    <ul>
      <li><a = href="#">Home</a></li>
      <li><a = href="#">Athlete List</a></li>
      <li><a = href="#">FAQ</a></li>
      <li><a = href="#">Contact</a></li>
    </ul>
</nav>

<table>
  

  <tbody>
    <% @athletes.each do |athlete| %>
      <%= content_tag :tr, class: cycle('list_line_odd', 'list_line_even') do %>
  <td>
    <%= image_tag(athlete.image_url, class: 'list_image') %>
  </td>
        <td><%= athlete.name %></td>
        <td><%= athlete.description %></td>
        <td><%= athlete.image_url %></td>
        <td><%= athlete.strength %></td>
        <td><%= athlete.speed %></td>
        <td><%= athlete.technique %></td>
        <td><%= athlete.agility %></td>
        <td class='list_actions'>
  <%= link_to 'Show', athlete %><br/>
  <%= link_to 'Edit', edit_athlete_path(athlete) %><br/>
  <%= link_to 'Destroy', athlete, method: :delete,
      data: { confirm: 'Are you sure?' } %>
</td>
     <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Athlete', new_athlete_path %>
