<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<table>
  

  <tbody>
    <% @athletes.each do |athlete| %>
      <%= content_tag :tr, class: cycle('list_line_odd', 'list_line_even') do %>
  <td>
    <%= image_tag(athlete.image_url, class: 'list_image') %>
  </td>
        <td><%= athlete.name %></td>
        
        <td class='list_actions'>
  <%= link_to 'More Information', athlete %><br/>
  <%= link_to 'Edit this Athlete', edit_athlete_path(athlete) %><br/>
  <%= link_to 'Remove this Athlete', athlete, method: :delete,
      data: { confirm: 'Are you sure you want to remove this athlete?' } %>
</td>
     <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a New Athlete', new_athlete_path %>
